.body{
      font-family: source sans pro,Helvetica,Arial,sans-serif;
      color: #333;
        }
.top-decorations {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background: #5b9bbc url(https://www.kaiwa-projects.com/assets/img/top-decorations.png) repeat-x top center;
}

#intro {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #0d2c5a;
    color: #fff;
    }
    #intro .line {
    background-color: #5b9bbc;
}

#section, {
    display: block;
}

.info {
    width: 100%;
    height: 100%;
    margin-bottom: -60px;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1200px;
}

.info .container {
    position: relative;
    top: 200px;}

.row, .col-wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}
.row {
    width: 100%;
}
.col-full {
    width: 100%;
}
.col-full{
    float: left;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.section-title {
    margin: 0 0 15px;
    padding: 0;
    font-size: 2.25em;
    font-weight: 300;
    color: #0f1025;
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: .1em;
}
.info .container h1 {
    margin: 0;
    padding: 0;
    font-size: 3.75em;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.col-1-4{
    width: 25%;
    float: none;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.line {
    display: block;
    width: 290px;
    height: 3px;
    padding: 0 !important;
    background: #ccc;
}
.info .container h4 {
    margin: 0;
    padding: 0;
    font-size: 1.875em;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
}
#nav {
    width: 100%;
    height: 60px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
}
#nav {
    display: block;
}
#nav ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
}
#nav ul li {
    padding: 0 8px;
    line-height: 60px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
#nav ul li a {
    display: block;
    font-size: .938em;
    letter-spacing: .1em;
    color: #5b9bbc;
    text-decoration: none;
}
.section {
    background-color: #fff;
}
.section-content {
    margin-top: 30px;
}
.section, .section-alt {
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}
.col-1-3 {
    width: 33.33333333333333%;
}
.col-1-3 {
    float: left;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.img {
    max-width: 100%;
    border: 0;
}
.section h4, .section-alt h4 {
    font-size: 1em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#nav-sticky-wrapper.is-sticky #nav {
    background-color: #0d2c5a;
}